wxtsite/wxt/docsource/general/fragments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="fragment">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="short" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="fragments">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="fragment" minOccurs="1" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="catalog" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
