wxt4/src/wxtresources/formula.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="value" type="xs:string"/>
	<xs:element name="subtext" type="xs:string"/>
	<xs:element name="formulas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formula" maxOccurs="unbounded"/>
			</xs:sequence>
                        <xs:attribute name="catalog" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="formula">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subtext" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="value" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="image"/>
						<xs:enumeration value="latex"/>
						<xs:enumeration value="mathml"/>
						<xs:enumeration value="google"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
